extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title

  .row
    .col-md-6.col-sm-12
      p
        | HomeScout was created to help people find places to live.
        | <br /><br />
        | Welcome to HomeScout!
        | <br /><br />
        | At HomeScout, we believe that finding your perfect home should be a seamless and enjoyable experience. Our mission is to connect renters with their ideal spaces, whether it’s a cozy apartment in the city or a spacious family home in the suburbs.

      p <br /><br />
      h2 Our Story
      p
        | HomeScout was founded by a team of real estate enthusiasts who recognized the challenges renters face in navigating the housing market. With a passion for innovation and a commitment to transparency, we set out to create a user-friendly platform that simplifies the rental process. Our goal is to empower renters with the tools and information they need to make informed decisions.

      h2 What We Offer
      ul
        li 
          | Comprehensive Listings: Explore a wide range of rental properties tailored to fit your needs and budget. From charming studios to luxury homes, we’ve got you covered.
        li 
          | User-Friendly Search: Our intuitive search features allow you to filter by location, price, amenities, and more, making it easy to find your dream home.
        li 
          | Reliable Information: We prioritize accuracy and transparency. Each listing includes detailed descriptions, high-quality photos, and essential information to help you make the right choice.
        li 
          | Supportive Community: At HomeScout, we're more than just a rental platform; we're a community. Our blog and resources offer tips on moving, decorating, and making the most of your rental experience.

      h2 Our Commitment
      p
        | We are committed to providing an exceptional user experience. Our dedicated customer support team is always here to assist you, whether you have questions about a listing or need help with the application process. We value your feedback and continually strive to enhance our platform to better serve our users.

      h2 Join Us on Your Journey
      p
        | Whether you’re a first-time renter or a seasoned pro, HomeScout is here to help you every step of the way. Join our community today and start your journey to finding the perfect place to call home.

      p
        | Happy Scouting!
        | <br />
        | — The HomeScout Team
