extends layout

block content
  .row.page-header(style="margin-bottom: 20px;") // Adjust margin-bottom to move the header down
    .col-lg-12
      h1(style="margin-top: 20px;") Vijaya Homes // Adjust margin-top to control the distance from the top

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p 5-4/1/c,Beside Delhi Public School Ghatkesar
          p  Contact Us:8639009733
          .panel.panel-primary
            .panel-heading
              h2.panel-title Visiting Timings
            .panel-body
              p Monday - Friday : 9:00am - 7:00pm
              p Saturday : 10:00am - 5:00pm
              p Sunday : 9:00am - 3:00pm
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Furnished
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;False ceilied
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Wifi available
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d783.0361621638511!2d78.68705830513358!3d17.452334321073764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb779a3006a1a5%3A0x2350fd1033f08dc8!2sDelhi%20Public%20School%2C%20Ghatkesar%2C%20Hyderabad!5e0!3m2!1sen!2sin!4v1727409854436!5m2!1sen!2sin" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Prev renter's reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Koushik
                    small.reviewTimestamp 16 July 2013
                  .col-xs-12
                    p Great place and affordable rent
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Venkat sai
                    small.reviewTimestamp 16 June 2016
                  .col-xs-12
                    p Very good locality and greenery every where
    .col-xs-12.col-md-3
      p.lead
        | Vijaya Homes a great place to live
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.
